.carousel {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  height: 220px;
  margin-top: 15px;

  .carousel__track {
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;
    gap: 7px;
    padding: 4px 0;
  }

  .carousel__item {
    flex: 0 0 150px;
    height: auto;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 7px;
    }

    &:hover {
      transform: scale(0.98);
      transition: transform 0.5s;
    }
  }

  .carousel__controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;

    .carousel__button {
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
      pointer-events: auto;
      padding: 10px;
      border-radius: 50%;
      cursor: pointer;
      font-size: 20px;
      transition: opacity 0.3s;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}
