// Font
$font-darkMode: #e2e5e9;
$font-lightMode: #080809;
$fontDarker-darkMode: #a6a9ac;
$fontDarker-lightMode: #606367;

// Background
$background-darkMode: #1c1c1d;
$background-lightMode: #f2f4f7;
$backgroundHeader-darkMode: #252728;
$backgroundHeader-lightMode: #ffffff;
$backgroundComments-darkMode: #252728;
$backgroundComments-lightMode: #f0f2f5;
$backgroundSearch-darkMode: #333334;
$backgroundSearch-lightMode: #e4e6e8;
$backgroundIcons-darkMode: #4f5152;
$backgroundIcons-lightMode: #e3e4e6;

// Accent color
$accent: #54c078;

// Container
$container-width: 680px;
