// Font
$font-color-darkMode: #e2e5e9;
$font-color-lightMode: #080809;
$fontDarker-color-darkMode: #a6a9ac;
$fontDarker-color-lightMode: #606367;

// Background
$background-color-darkMode: #080809;
$background-color-lightMode: #e2e5e9;
$backgroundComments-color-darkMode: #252728;
$backgroundComments-color-lightMode: #f0f2f5;
$backgroundSearch-color-darkMode: #333334;
$backgroundSearch-color-lightMode: #e4e6e8;
$backgroundIcons-color-darkMode: #4f5152;
$backgroundIcons-color-lightMode: #f2f4f7;

// Accent color
$accent-color: #54c078;
$accent-color: #f5a623;
